
/* -- 1.4 Links -- */

a:hover,
a:focus {
     color: #FCFEFF;
 }
     
    
/* -- 3.X Print preview -- {整打印D说奈恢*/
a.print-preview {
    background: url('../images/icon-print-preview.png') no-repeat 0 0;  
    cursor: pointer;
    display: block;
    margin:-920px -950px 10px 650px;   
    padding: 0 0 0 35px;
    line-height: 20px;
}